//変数ファイルの読み込み
@import "variable";

ul {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #ccc;

  li {
    width: 30%;
    padding: 10px;
    background: $TESTCOLOR;
    color: $MAINCOLOR;
    transition: 800ms ease-out transform;
    color: blue;

    &:hover {
      color: blue;
      transform: translate(10px,0);
      background: #ddd;
    }

    a {
      display: block;
      color: #ccc;
      background: #000;
    }


  }

}
