//変数ファイルの読み込み
@import "variable";

//リセットcssの読み込み
@import "reset";

//googlefont読み込み
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans JP", sans-serif;
  color: $COLOR_MAIN;
}

.e-inner {
  max-width: 1200px;
  width: 100%;
}

//headerの読み込み
@import "header";

.b-sect1 {
  background: #f0f0f0;

  &__e-inner {
    padding: 60px;
  }
  &__e-text_box {
    text-align: center;
    > .title01 {
      font-size: 28px;
      font-weight: bold;
    }
  }
}

//sliderの読み込み
@import "slider";

.btn {
  a {
    display: block;
    background-color: #fff;
    border: solid 3px #cc1f00;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 32px;
    color: #cc1f00;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.2s linear;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.2s linear;
    }
    &:hover {
      color: #fff;
      &::after {
        top: 0;
        background-color: #cc1f00;
      }
    }
  }
}
