//変数ファイルの読み込み
@import "variable";

//リセットcssの読み込み
@import "reset";

//googlefont読み込み
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans JP", sans-serif;
  color: $COLOR_MAIN-TEXT;
}

.e-inner {
  max-width: 1200px;
  width: 100%;
}

//headerの読み込み
@import "header";

.b-sect1 {
  background: #f0f0f0;

  &__e-inner {
    padding: 60px;
  }
  &__e-text_box {
    text-align: center;
    > .title01 {
      font-size: 28px;
      font-weight: bold;
    }
  }
}

.b-sect2,
.b-sect3 {
  background: #f4f6f8;
  &__e-inner {
    padding: 60px 120px;
  }
  &__e-title {
    text-align: center;
    .title01 {
      position: relative;
      font-size: 28px;
      font-weight: bold;
      &:before {
        content: "";
        height: 1px;
        width: 150px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #e0e0e0;
      }
    }
    .sub_title01 {
      display: block;
      margin-top: 8px;
      color: #b3b3b3;
      font-size: 16px;
    }
    .text {
      font-size: 16px;
      margin-top: 20px;
    }
  }
  &__e-services_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 40px;
    .item {
      width: calc((100% - 40px) / 3);
      padding: 30px;
      background: $COLOR_WHITE;
      box-shadow: -2px -2px 4px 0 rgba(0, 0, 0, 0.1),
        2px 2px 4px 0 rgba(0, 0, 0, 0.1);
      &:hover {
        .icon {
          transform: scale(1.05);
        }
      }
    }
    .icon {
      text-align: center;
      padding: 30px 80px;
      filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
      transition-duration: 0.5s;
    }
    .title {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
      > span {
        display: block;
        font-size: 14px;
      }
    }
  }
  &__e-count_area {
    background: $COLOR_WHITE;
    border: solid 2px #52b0ae;
    padding: 20px;
    text-align: center;
    margin: 20px 0;

    #elem2 {
      font-size: 62px;
      color: #52b0ae;
      font-weight: bold;
      line-height: 1;
    }
  }
}

//sliderの読み込み
@import "slider";

//TOPへ戻るボタン
.top_button {
  padding: 30px;
  background: $COLOR_AQUA-BLUE;
  border: solid 1px $COLOR_AQUA-BLUE;
  border-radius: 50%;
  font-size: 16px;
  z-index: 99;
  position: fixed;
  bottom: 0;
  right: 20px;
  color: $COLOR_WHITE;
  font-weight: bold;
  margin-bottom: 10px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  &:hover {
    background: $COLOR_WHITE;
    color: $COLOR_AQUA-BLUE;
  }
}
